 # Libraries Import

In [41]:
import pandas as pd
import numpy as np
import dask.dataframe as dd

 # Loading the Datasets using Pandas and Dask

In [42]:
TripsFullDataPandas = pd.read_csv('./DataSources/TripsFullData.csv')
TripsByDistancePandas = pd.read_csv('./DataSources/TripsByDistance.csv')


dtypeChange = {
    "Number of Trips": "float64",  # Use float64 because of possible NaN values
    "Number of Trips 1-3": "float64",
    "Number of Trips 10-25": "float64",
    "Number of Trips 100-250": "float64",
    "Number of Trips 25-50": "float64",
    "Number of Trips 250-500": "float64",
    "Number of Trips 3-5": "float64",
    "Number of Trips 5-10": "float64",
    "Number of Trips 50-100": "float64",
    "Number of Trips <1": "float64",
    "Number of Trips >=500": "float64",
    "Population Not Staying at Home": "float64",
    "Population Staying at Home": "float64",
}

TripsFullDataPandas = pd.read_csv('./DataSources/TripsFullData.csv')
TripsByDistancePandas = pd.read_csv('./DataSources/TripsByDistance.csv',dtype=dtypeChange)
TripsFullDataDask = dd.read_csv('./DataSources/TripsFullData.csv')
TripsByDistanceDask = dd.read_csv('./DataSources/TripsByDistance.csv', dtype=dtypeChange)

 # Exploring the Dataset
 ## Data Types TripsFullDataPandas

In [43]:
TripsFullDataPandas.dtypes

Month of Date                 object
Week of Date                  object
Year of Date                   int64
Level                         object
Date                          object
Week Ending Date              object
Trips <1 Mile                  int64
People Not Staying at Home     int64
Population Staying at Home     int64
Trips                          int64
Trips 1-25 Miles               int64
Trips 1-3 Miles                int64
Trips 10-25 Miles              int64
Trips 100-250 Miles            int64
Trips 100+ Miles               int64
Trips 25-100 Miles             int64
Trips 25-50 Miles              int64
Trips 250-500 Miles            int64
Trips 3-5 Miles                int64
Trips 5-10 Miles               int64
Trips 50-100 Miles             int64
Trips 500+ Miles               int64
dtype: object

 ## Data Types TripsByDistancePandas

In [44]:
TripsByDistancePandas.dtypes

Level                              object
Date                               object
State FIPS                        float64
State Postal Code                  object
County FIPS                       float64
County Name                        object
Population Staying at Home        float64
Population Not Staying at Home    float64
Number of Trips                   float64
Number of Trips <1                float64
Number of Trips 1-3               float64
Number of Trips 3-5               float64
Number of Trips 5-10              float64
Number of Trips 10-25             float64
Number of Trips 25-50             float64
Number of Trips 50-100            float64
Number of Trips 100-250           float64
Number of Trips 250-500           float64
Number of Trips >=500             float64
Row ID                             object
Week                                int64
Month                               int64
dtype: object

## Statistical Analysis Summary

In [45]:
print(TripsFullDataPandas.describe(include='all'))

       Month of Date Week of Date  Year of Date     Level           Date  \
count              7            7           7.0         7              7
unique             1            1           NaN         1              7
top           August      Week 32           NaN  National  8/4/2019 0:00
freq               7            7           NaN         7              1
mean             NaN          NaN        2019.0       NaN            NaN
std              NaN          NaN           0.0       NaN            NaN
min              NaN          NaN        2019.0       NaN            NaN
25%              NaN          NaN        2019.0       NaN            NaN
50%              NaN          NaN        2019.0       NaN            NaN
75%              NaN          NaN        2019.0       NaN            NaN
max              NaN          NaN        2019.0       NaN            NaN

       Week Ending Date  Trips <1 Mile  People Not Staying at Home  \
count                 7   7.000000e+00                7.000000e+00
unique                1            NaN                         NaN
top           10-Aug-19            NaN                         NaN
freq                  7            NaN                         NaN
mean                NaN   3.259764e+08                2.631041e+08
std                 NaN   2.424507e+07                5.029890e+06
min                 NaN   2.929597e+08                2.584041e+08
25%                 NaN   3.089499e+08                2.594875e+08
50%                 NaN   3.244432e+08                2.621998e+08
75%                 NaN   3.440244e+08                2.650241e+08
max                 NaN   3.584830e+08                2.721014e+08

        Population Staying at Home         Trips  ...  Trips 10-25 Miles  \
count                 7.000000e+00  7.000000e+00  ...       7.000000e+00
unique                         NaN           NaN  ...                NaN
top                            NaN           NaN  ...                NaN
freq                           NaN           NaN  ...                NaN
mean                  6.306337e+07  1.441692e+09  ...       2.310785e+08
std                   5.029890e+06  7.644026e+07  ...       1.595993e+07
min                   5.406600e+07  1.322685e+09  ...       2.009223e+08
25%                   6.114337e+07  1.397305e+09  ...       2.274326e+08
50%                   6.396766e+07  1.437762e+09  ...       2.305803e+08
75%                   6.667995e+07  1.496538e+09  ...       2.405966e+08
max                   6.776329e+07  1.543710e+09  ...       2.499887e+08

        Trips 100-250 Miles  Trips 100+ Miles  Trips 25-100 Miles  \
count          7.000000e+00      7.000000e+00        7.000000e+00
unique                  NaN               NaN                 NaN
top                     NaN               NaN                 NaN
freq                    NaN               NaN                 NaN
mean           6.850130e+06      1.212247e+07        8.803745e+07
std            1.117810e+06      2.045473e+06        5.376956e+06
min            5.379881e+06      8.528574e+06        7.942912e+07
25%            6.126720e+06      1.163900e+07        8.509894e+07
50%            6.535920e+06      1.225654e+07        8.759958e+07
75%            7.592922e+06      1.272771e+07        9.201497e+07
max            8.595827e+06      1.533879e+07        9.500565e+07

        Trips 25-50 Miles  Trips 250-500 Miles  Trips 3-5 Miles  \
count        7.000000e+00         7.000000e+00     7.000000e+00
unique                NaN                  NaN              NaN
top                   NaN                  NaN              NaN
freq                  NaN                  NaN              NaN
mean         6.915913e+07         1.829242e+06     1.815558e+08
std          5.147182e+06         3.015761e+05     6.145471e+06
min          5.951719e+07         1.272248e+06     1.713364e+08
25%          6.745464e+07         1.768012e+06     1.791034e+08
50%          7.014917e+07         1.823661e+06     1.793462e+08
75%          7.251285e+07         1.949574e+06     1.864191e+08
max          7.451258e+07         2.273613e+06     1.891633e+08

        Trips 5-10 Miles  Trips 50-100 Miles  Trips 500+ Miles
count       7.000000e+00        7.000000e+00      7.000000e+00
unique               NaN                 NaN               NaN
top                  NaN                 NaN               NaN
freq                 NaN                 NaN               NaN
mean        2.334445e+08        1.887832e+07      3.443101e+06
std         9.185330e+06        1.595080e+06      1.019597e+06
min         2.161219e+08        1.745041e+07      1.876445e+06
25%         2.309911e+08        1.764403e+07      2.813090e+06
50%         2.332487e+08        1.781955e+07      3.369125e+06
75%         2.394431e+08        2.020250e+07      4.277617e+06
max         2.438723e+08        2.118523e+07      4.674725e+06

[11 rows x 22 columns]

In [46]:
print(TripsByDistancePandas.describe(include='all'))

          Level       Date    State FIPS State Postal Code   County FIPS  \
count   1048575    1048575  1.047674e+06           1047674  1.001723e+06
unique        3        903           NaN                51           NaN
top      County  6/17/2021           NaN                TX           NaN
freq    1001723       3194           NaN             81859           NaN
mean        NaN        NaN  3.021900e+01               NaN  3.038029e+04
std         NaN        NaN  1.516822e+01               NaN  1.516011e+04
min         NaN        NaN  1.000000e+00               NaN  1.001000e+03
25%         NaN        NaN  1.800000e+01               NaN  1.817700e+04
50%         NaN        NaN  2.900000e+01               NaN  2.917500e+04
75%         NaN        NaN  4.500000e+01               NaN  4.508100e+04
max         NaN        NaN  5.600000e+01               NaN  5.604500e+04

              County Name  Population Staying at Home  \
count             1001723                1.035625e+06
unique               1877                         NaN
top     Washington County                         NaN
freq                 9560                         NaN
mean                  NaN                1.462917e+05
std                   NaN                2.225797e+06
min                   NaN                8.000000e+00
25%                   NaN                2.079000e+03
50%                   NaN                5.018000e+03
75%                   NaN                1.595000e+04
max                   NaN                1.102118e+08

        Population Not Staying at Home  Number of Trips  Number of Trips <1  \
count                     1.035625e+06     1.035625e+06        1.035625e+06
unique                             NaN              NaN                 NaN
top                                NaN              NaN                 NaN
freq                               NaN              NaN                 NaN
mean                      5.234714e+05     2.477794e+06        6.120798e+05
std                       7.649900e+06     3.618162e+07        9.003866e+06
min                       8.700000e+01     2.200000e+02        0.000000e+00
25%                       9.793000e+03     4.978400e+04        1.048600e+04
50%                       2.347400e+04     1.208760e+05        2.564200e+04
75%                       7.131800e+04     3.603300e+05        7.775300e+04
max                       2.737400e+08     1.569053e+09        4.227002e+08

        ...  Number of Trips 5-10  Number of Trips 10-25  \
count   ...          1.035625e+06           1.035625e+06
unique  ...                   NaN                    NaN
top     ...                   NaN                    NaN
freq    ...                   NaN                    NaN
mean    ...          3.843100e+05           3.759380e+05
std     ...          5.615742e+06           5.502116e+06
min     ...          0.000000e+00           0.000000e+00
25%     ...          6.463000e+03           8.001000e+03
50%     ...          1.699900e+04           1.934500e+04
75%     ...          5.446900e+04           5.515100e+04
max     ...          2.526118e+08           2.565096e+08

        Number of Trips 25-50  Number of Trips 50-100  \
count            1.035625e+06            1.035625e+06
unique                    NaN                     NaN
top                       NaN                     NaN
freq                      NaN                     NaN
mean             1.208128e+05            3.884712e+04
std              1.765528e+06            5.753918e+05
min              0.000000e+00            0.000000e+00
25%              3.860000e+03            1.240000e+03
50%              8.387000e+03            2.717000e+03
75%              2.109600e+04            6.679000e+03
max              7.636732e+07            2.873561e+07

        Number of Trips 100-250  Number of Trips 250-500  \
count              1.035625e+06             1.035625e+06
unique                      NaN                      NaN
top                         NaN                      NaN
freq                        NaN                      NaN
mean               1.582453e+04             3.553210e+03
std                2.404323e+05             5.346122e+04
min                0.000000e+00             0.000000e+00
25%                3.630000e+02             5.800000e+01
50%                8.570000e+02             1.730000e+02
75%                2.372000e+03             5.330000e+02
max                1.447698e+07             3.651375e+06

        Number of Trips >=500             Row ID          Week         Month
count            1.035625e+06            1048575  1.048575e+06  1.048575e+06
unique                    NaN            1048575           NaN           NaN
top                       NaN  19-19193-20191101           NaN           NaN
freq                      NaN                  1           NaN           NaN
mean             3.142248e+03                NaN  2.171479e+01  5.575419e+00
std              5.069772e+04                NaN  1.242963e+01  2.847674e+00
min              0.000000e+00                NaN  0.000000e+00  1.000000e+00
25%              2.700000e+01                NaN  1.100000e+01  3.000000e+00
50%              9.800000e+01                NaN  2.300000e+01  6.000000e+00
75%              4.260000e+02                NaN  3.200000e+01  8.000000e+00
max              5.003062e+06                NaN  5.200000e+01  1.200000e+01

[11 rows x 22 columns]

 ## Find if there are null values

In [47]:
TripsFullDataPandas.isna().any()

Month of Date                 False
Week of Date                  False
Year of Date                  False
Level                         False
Date                          False
Week Ending Date              False
Trips <1 Mile                 False
People Not Staying at Home    False
Population Staying at Home    False
Trips                         False
Trips 1-25 Miles              False
Trips 1-3 Miles               False
Trips 10-25 Miles             False
Trips 100-250 Miles           False
Trips 100+ Miles              False
Trips 25-100 Miles            False
Trips 25-50 Miles             False
Trips 250-500 Miles           False
Trips 3-5 Miles               False
Trips 5-10 Miles              False
Trips 50-100 Miles            False
Trips 500+ Miles              False
dtype: bool

In [48]:
TripsByDistancePandas.isna().any()

Level                             False
Date                              False
State FIPS                         True
State Postal Code                  True
County FIPS                        True
County Name                        True
Population Staying at Home         True
Population Not Staying at Home     True
Number of Trips                    True
Number of Trips <1                 True
Number of Trips 1-3                True
Number of Trips 3-5                True
Number of Trips 5-10               True
Number of Trips 10-25              True
Number of Trips 25-50              True
Number of Trips 50-100             True
Number of Trips 100-250            True
Number of Trips 250-500            True
Number of Trips >=500              True
Row ID                            False
Week                              False
Month                             False
dtype: bool

In [49]:
nanValues = TripsByDistancePandas.isna().sum()
print('NaN values:', nanValues)

NaN values: Level                                 0
Date                                  0
State FIPS                          901
State Postal Code                   901
County FIPS                       46852
County Name                       46852
Population Staying at Home        12950
Population Not Staying at Home    12950
Number of Trips                   12950
Number of Trips <1                12950
Number of Trips 1-3               12950
Number of Trips 3-5               12950
Number of Trips 5-10              12950
Number of Trips 10-25             12950
Number of Trips 25-50             12950
Number of Trips 50-100            12950
Number of Trips 100-250           12950
Number of Trips 250-500           12950
Number of Trips >=500             12950
Row ID                                0
Week                                  0
Month                                 0
dtype: int64

 ## Creation of files with missing values

In [50]:
rowWithNA = TripsByDistancePandas[TripsByDistancePandas.isna().any(axis=1)]
rowWithNA.to_csv('rows_with_na.csv', index=False)

## Check for duplicates

 ## Second check for rows with only null/nan values

In [51]:
allMissingRows = TripsByDistancePandas[TripsByDistancePandas.isna().all(axis=1)]
if allMissingRows.empty:
    print("No rows with all values missing/null/NaN found.")
else:
    print(f"Rows where all values are missing/null/NaN: {allMissingRows}")

No rows with all values missing/null/NaN found.

 ## Dropping values from TripsByDistance(Pandas/Dask) as it's the only dataset with missing values

In [52]:
#CleanTripsByDistancePandas = TripsByDistancePandas.dropna()
#CleanTripsByDistancePandas.to_csv('CleanTripsByDistancePandas.csv', index=False)

#CleanTripsByDistanceDask = TripsByDistanceDask.dropna()

 ## Since both datasets contain matching columns, we are verifying whether their data types also align. Given that the FullData dataset only includes national-level data, we're checking whether the values match correctly (August 2019) — as the raw data appears quite different. Additionally, we are removing any columns that do not appear in both datasets (such as Year of Date), even if that information is already embedded within the Date column.

In [53]:
TripsFullDataPandasWithoutSomeRows = TripsFullDataPandas.drop(['Year of Date', 'Week Ending Date', 'Trips 100+ Miles', 'Trips 25-100 Miles', 'Trips 1-25 Miles'], axis=1)

TripsByDistanceWithoutSomeRows = TripsByDistancePandas.drop(['County FIPS', 'State FIPS', 'State Postal Code', 'County Name', 'Row ID'], axis=1)

In [54]:
renameColumns = {
    'People Not Staying at Home': 'Population Not Staying at Home',
    'Trips': 'Number of Trips',
    'Trips <1 Mile': 'Number of Trips <1',
    'Trips 1-3 Miles': 'Number of Trips 1-3',
    'Trips 3-5 Miles': 'Number of Trips 3-5',
    'Trips 5-10 Miles': 'Number of Trips 5-10',
    'Trips 10-25 Miles': 'Number of Trips 10-25',
    'Trips 25-50 Miles': 'Number of Trips 25-50',
    'Trips 50-100 Miles': 'Number of Trips 50-100',
    'Trips 100-250 Miles': 'Number of Trips 100-250',
    'Trips 250-500 Miles': 'Number of Trips 250-500',
    'Trips 500+ Miles': 'Number of Trips >=500',
    'Week of Date': 'Week',
    'Month of Date': 'Month'

}
TripsFullDataPandasWithoutSomeRows.rename(columns=renameColumns, inplace=True)

for col, dtype in dtypeChange.items():
    if col in TripsFullDataPandasWithoutSomeRows.columns:
        TripsFullDataPandasWithoutSomeRows[col] = TripsFullDataPandasWithoutSomeRows[col].astype(dtype)
        
TripsFullDataPandasWithoutSomeRows['Week'] = TripsFullDataPandasWithoutSomeRows['Week'].replace('Week 32', '31').astype(int)
TripsFullDataPandasWithoutSomeRows['Month'] = TripsFullDataPandasWithoutSomeRows['Month'].replace('August', '8').astype(int)
TripsFullDataPandasWithoutSomeRows.dtypes

Month                               int64
Week                                int64
Level                              object
Date                               object
Number of Trips <1                float64
Population Not Staying at Home    float64
Population Staying at Home        float64
Number of Trips                   float64
Number of Trips 1-3               float64
Number of Trips 10-25             float64
Number of Trips 100-250           float64
Number of Trips 25-50             float64
Number of Trips 250-500           float64
Number of Trips 3-5               float64
Number of Trips 5-10              float64
Number of Trips 50-100            float64
Number of Trips >=500             float64
dtype: object

In [55]:
TripsByDistanceWithoutSomeRows.dtypes

Level                              object
Date                               object
Population Staying at Home        float64
Population Not Staying at Home    float64
Number of Trips                   float64
Number of Trips <1                float64
Number of Trips 1-3               float64
Number of Trips 3-5               float64
Number of Trips 5-10              float64
Number of Trips 10-25             float64
Number of Trips 25-50             float64
Number of Trips 50-100            float64
Number of Trips 100-250           float64
Number of Trips 250-500           float64
Number of Trips >=500             float64
Week                                int64
Month                               int64
dtype: object

### Comparing Datasets. First, we observe that FullData contains only national-level data. In contrast, TripsByDistance includes national data but does not contain the columns: State FIPS, State Postal Code, County, and County Name. Additionally, in TripsByDistance, the weeks are indexed starting from 0, whereas in FullData, the dataset uses a standard week numbering format — for example, it includes Week 32, which corresponds to Week 31 in TripsByDistance. If the rows actually match, it means these rows will not contribute to Null values in the comparison, as they represent consistent data that doesn't introduce discrepancies.

In [56]:
TripsByDistanceWithoutSomeRows = TripsByDistanceWithoutSomeRows[
    TripsByDistanceWithoutSomeRows['Date'].astype(str).str.contains('2019') &
    (TripsByDistanceWithoutSomeRows['Week'] == 31) &
    TripsByDistanceWithoutSomeRows['Level'].astype(str).str.contains('National')].copy()

TripsFullDataPandasWithoutSomeRows['Date'] = pd.to_datetime(TripsFullDataPandasWithoutSomeRows['Date'])
TripsByDistanceWithoutSomeRows['Date'] = pd.to_datetime(TripsByDistanceWithoutSomeRows['Date'])

In [57]:
TripsFullDataPandasWithoutSomeRows = TripsFullDataPandasWithoutSomeRows.reset_index(drop=True)
TripsByDistanceWithoutSomeRows = TripsByDistanceWithoutSomeRows.reset_index(drop=True)

for col in TripsFullDataPandasWithoutSomeRows.columns:
    if TripsFullDataPandasWithoutSomeRows[col].equals(TripsByDistanceWithoutSomeRows[col]):
        print(f"{col}: Values are identical.")
    else:
        print(f"{col}: Differences found.")
        
        # Show which rows are different
        mismatches = TripsFullDataPandasWithoutSomeRows[col] != TripsByDistanceWithoutSomeRows[col]
        mismatchesDF = pd.DataFrame({
            'FullData': TripsFullDataPandasWithoutSomeRows[col][mismatches],
            'ByDistance': TripsByDistanceWithoutSomeRows[col][mismatches]
        })
        print(mismatchesDF)

Month: Values are identical.
Week: Values are identical.
Level: Values are identical.
Date: Values are identical.
Number of Trips <1: Values are identical.
Population Not Staying at Home: Values are identical.
Population Staying at Home: Values are identical.
Number of Trips: Values are identical.
Number of Trips 1-3: Values are identical.
Number of Trips 10-25: Values are identical.
Number of Trips 100-250: Values are identical.
Number of Trips 25-50: Values are identical.
Number of Trips 250-500: Values are identical.
Number of Trips 3-5: Values are identical.
Number of Trips 5-10: Values are identical.
Number of Trips 50-100: Values are identical.
Number of Trips >=500: Values are identical.

In [58]:
TripsByDistanceWithoutSomeRows.head(7)

,Level,Date,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,National,2019-08-04,67763287.0,258404133.0,1.322685e+09,292959749.0,346577279.0,171336406.0,216121882.0,200922270.0,59517188.0,19911937.0,8595827.0,2273613.0,4469346.0,31,8
1,National,2019-08-05,63967662.0,262199758.0,1.412564e+09,317133861.0,358008909.0,178996059.0,231048425.0,228809869.0,68184743.0,17819554.0,6535920.0,1941260.0,4085888.0,31,8
2,National,2019-08-06,66071287.0,260096133.0,1.437762e+09,324443205.0,366533991.0,179210645.0,233248732.0,235621127.0,70149166.0,17450413.0,5993704.0,1741994.0,3369125.0,31,8
3,National,2019-08-07,67288618.0,258878802.0,1.543710e+09,358483024.0,401474049.0,189163336.0,243872277.0,249988663.0,74381367.0,17819019.0,5379881.0,1272248.0,1876445.0,31,8
4,National,2019-08-08,63757375.0,262410045.0,1.382045e+09,300765870.0,347857770.0,179346163.0,230933709.0,226055368.0,66724543.0,17469044.0,6259735.0,1957888.0,4674725.0,31,8
5,National,2019-08-09,54066003.0,272101417.0,1.501572e+09,341515854.0,378936486.0,186257669.0,242027669.0,245571995.0,74512584.0,20493069.0,7635743.0,1823661.0,2797133.0,31,8
6,National,2019-08-10,58529356.0,267638064.0,1.491503e+09,346532975.0,386948113.0,186580557.0,236858554.0,230580285.0,70644329.0,21185227.0,7550100.0,1794030.0,2829046.0,31,8

In [59]:
TripsFullDataPandasWithoutSomeRows.head(7)

,Month,Week,Level,Date,Number of Trips <1,Population Not Staying at Home,Population Staying at Home,Number of Trips,Number of Trips 1-3,Number of Trips 10-25,Number of Trips 100-250,Number of Trips 25-50,Number of Trips 250-500,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 50-100,Number of Trips >=500
0,8,31,National,2019-08-04,292959749.0,258404133.0,67763287.0,1.322685e+09,346577279.0,200922270.0,8595827.0,59517188.0,2273613.0,171336406.0,216121882.0,19911937.0,4469346.0
1,8,31,National,2019-08-05,317133861.0,262199758.0,63967662.0,1.412564e+09,358008909.0,228809869.0,6535920.0,68184743.0,1941260.0,178996059.0,231048425.0,17819554.0,4085888.0
2,8,31,National,2019-08-06,324443205.0,260096133.0,66071287.0,1.437762e+09,366533991.0,235621127.0,5993704.0,70149166.0,1741994.0,179210645.0,233248732.0,17450413.0,3369125.0
3,8,31,National,2019-08-07,358483024.0,258878802.0,67288618.0,1.543710e+09,401474049.0,249988663.0,5379881.0,74381367.0,1272248.0,189163336.0,243872277.0,17819019.0,1876445.0
4,8,31,National,2019-08-08,300765870.0,262410045.0,63757375.0,1.382045e+09,347857770.0,226055368.0,6259735.0,66724543.0,1957888.0,179346163.0,230933709.0,17469044.0,4674725.0
5,8,31,National,2019-08-09,341515854.0,272101417.0,54066003.0,1.501572e+09,378936486.0,245571995.0,7635743.0,74512584.0,1823661.0,186257669.0,242027669.0,20493069.0,2797133.0
6,8,31,National,2019-08-10,346532975.0,267638064.0,58529356.0,1.491503e+09,386948113.0,230580285.0,7550100.0,70644329.0,1794030.0,186580557.0,236858554.0,21185227.0,2829046.0



# Starting the analysis (Execution on Pandas and Dask)
##  How many people are staying at home? How far are people traveling when they don’t stay home?

In [60]:
CleanTripsByDistanceDask['Week'].nunique()

NameError: name 'CleanTripsByDistanceDask' is not defined

In [ ]:
CleanTripsByDistancePandas['Week'].nunique()